i {
	font-style: normal
}

html,
body {
	background-color: #F8F8F8
}

.index-main {
	width: 100vw;
	height: auto;
	display: flex;
	flex: 1;
	flex-direction: column
}

.index-main .index-main-item2 {
	width: calc(100% - 10px);
	margin: 0 5px;
	background-color: #ffffff;
	height: 50px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between
}

.index-main .index-main-item2 .index-main-item2-leftmsg {
	width: 50%;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	color: #333333;
	padding-left: 10px
}

.index-main .index-main-item2 .index-main-item2-leftmsg i {
	color: #14D6D7;
	font-size: 20px
}

.index-main .index-main-item2 .index-main-item2-rightmsg {
	width: 50%;
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	color: #333333;
	padding-right: 10px;
	text-align: right
}

.index-main .index-main-item2 .index-main-item2-rightmsg i {
	color: #14D6D7;
	font-size: 20px
}

.index-main .index-main-signlist {
	width: calc(100% - 10px);
	margin: 0 5px;
	background-color: #ffffff;
	border-radius: 5px;
	display: flex;
	flex-direction: column
}

.index-main .index-main-signlist ul {
	width: 100%;
	height: auto
}

.index-main .index-main-signlist ul li {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row
}

.index-main .index-main-signlist ul li .index-main-signlist-lefttime {
	width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	color: #666666;
	font-size: 12px;
	text-align: right
}

.index-main .index-main-signlist ul li .index-main-signlist-img {
	width: 60px;
	height: 60px;
	position: relative
}

.index-main .index-main-signlist ul li .index-main-signlist-img .index-main-signlist-img-circle {
	width: 30px;
	height: 30px;
	margin-left: 15px;
	margin-top: 15px;
	margin-right: 15px;
	border: 1px solid #CCCCCC;
	border-radius: 50%;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	background-color: #ffffff
}

.index-main .index-main-signlist ul li .index-main-signlist-img .index-main-signlist-img-circle img {
	width: 20px;
	height: 20px;
	margin: 5px
}

.index-main .index-main-signlist ul li .index-main-signlist-img .index-main-signlist-lineback {
	width: 1px;
	height: 30px;
	top: 0;
	left: 0;
	z-index: 5;
	margin-top: 30px;
	margin-left: 29.5px;
	position: absolute;
	background-color: #CCCCCC
}

.index-main .index-main-signlist ul li .index-main-signlist-rightmsg {
	min-height: 60px;
	display: flex;
	flex-direction: column;
	flex: 1
}

.index-main .index-main-signlist ul li .index-main-signlist-rightmsg .index-main-signlist-rightmsg-up {
	width: 100%;
	height: 20px;
	margin-top: 20px;
	line-height: 20px;
	color: #666666;
	font-size: 18px
}

.index-main .index-main-signlist ul li .index-main-signlist-rightmsg .index-main-signlist-rightmsg-down {
	width: 100%;
	line-height: 20px;
	color: #666666;
	font-size: 12px
}

.index-main .index-main-signlist ul .index-main-signlist-signin .index-main-signlist-img .index-main-signlist-lineback {
	margin-top: 30px
}

.index-main .index-main-signlist ul .index-main-signlist-signout .index-main-signlist-img .index-main-signlist-lineback {
	margin-top: 0
}
