i {
	font-style: normal
}

html,
body {
	width: 100vw;
	height: 100%;
	background-color: #F8F8F8
}

.index-main {
	width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll
}

.index-main .index-head {
	width: 100vw;
	min-height: 170px;
	position: relative
}

.index-main .index-head .index-title {
	width: 100vw;
	height: 130px;
	background-image: linear-gradient(to right, #11C0C9, #0766C2);
	display: flex;
	flex-direction: row;
	align-items: center
}

.index-main .index-head .index-title .index-title-img {
	width: 44pt;
	height: 44pt;
	margin-left: 16.5px;
	margin-right: 16.5px
}

.index-main .index-head .index-title .index-title-context {
	flex: 1;
	height: 50pt;
	display: flex;
	flex-direction: column;
	color: #ffffff
}

.index-main .index-head .index-title .index-title-context .index-title-context-item1 {
	width: 100%;
	height: 25pt;
	line-height: 25pt;
	font-weight: normal;
	font-size: 20px
}

.index-main .index-head .index-title .index-title-context .index-title-context-item2 {
	width: 100%;
	height: 25pt;
	line-height: 25pt;
	font-weight: normal;
	font-size: 12px
}

.index-main .index-head .index-nummoney {
	width: calc(100% - 30pt);
	min-height: 70px;
	margin-left: 15pt;
	margin-right: 15pt;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-shadow: .5px .5px 1px 1px #11C0C8;
	background-color: #ffffff;
	position: absolute;
	z-index: 10;
	bottom: 0;
	left: 0;
	border-radius: 5px
}

.index-main .index-head .index-nummoney .index-nummoney-shop {
	flex: 1;
	height: 50px
}

.index-main .index-head .index-nummoney .index-nummoney-shop .index-nummoney-shop-item1 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	color: #14D6D7
}

.index-main .index-head .index-nummoney .index-nummoney-shop .index-nummoney-shop-item1 i {
	font-size: 12px;
	margin-left: 5px
}

.index-main .index-head .index-nummoney .index-nummoney-shop .index-nummoney-shop-item2 {
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #3B3B3B
}

.index-main .index-head .index-nummoney .line {
	width: 1.5pt;
	height: 44pt;
	background-color: #E8E8E8
}

.index-main .index-head .index-nummoney .index-nummoney-num {
	flex: 1;
	height: 50px;
	display: flex;
	flex-direction: column;
	align-items: center
}

.index-main .index-head .index-nummoney .index-nummoney-num .index-nummoney-num-item1 {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 25px;
	color: #14D6D7
}

.index-main .index-head .index-nummoney .index-nummoney-num .index-nummoney-num-item1 i {
	font-size: 12px;
	margin-left: 5px
}

.index-main .index-head .index-nummoney .index-nummoney-num .index-nummoney-num-item2 {
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
	color: #3B3B3B
}

.index-main .index-pro {
	width: calc(100% - 30px);
	height: auto;
	margin-left: 15px;
	margin-right: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 10px
}

.index-main .index-pro .index-pro-left {
	width: 60%;
	height: 165px;
	display: flex;
	flex-direction: column
}

.index-main .index-pro .index-pro-left .index-pro-left-progress {
	width: calc(100% - 20px);
	display: flex;
	flex-direction: column;
	padding: 10px 5px;
	background-color: #ffffff;
	border-radius: 5px
}

.index-main .index-pro .index-pro-left .index-pro-left-progress .index-pro-left-progress-title {
	width: 100%;
	height: 20px;
	display: flex;
	flex-direction: row
}

.index-main .index-pro .index-pro-left .index-pro-left-progress .index-pro-left-progress-title .index-pro-left-progress-title-item1 {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #3B3B3B;
	flex: 1
}

.index-main .index-pro .index-pro-left .index-pro-left-progress .index-pro-left-progress-title .index-pro-left-progress-title-item2 {
	width: 40px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #3B3B3B;
	text-align: right
}

.index-main .index-pro .index-pro-left .index-pro-left-progress .index-pro-left-progress-line {
	width: 100%;
	height: 5px;
	position: relative;
	margin: 5px 0
}

.index-main .index-pro .index-pro-left .index-pro-left-progress .index-pro-left-progress-line .index-pro-left-progress-line-back {
	width: 100%;
	height: 5px;
	background-color: #F1F2F5;
	border-radius: 10px;
	float: left
}

.index-main .index-pro .index-pro-left .index-pro-left-progress .index-pro-left-progress-line .index-pro-left-progress-line-percent {
	width: 80%;
	height: 5px;
	background-color: #14D6D7;
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9
}

.index-main .index-pro .index-pro-right {
	width: 40%;
	height: 165px;
	display: flex;
	border-radius: 5px;
	flex-direction: column;
	background-color: #ffffff
}

.index-main .index-pro .index-pro-right .index-pro-right-title {
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #3B3B3B;
	font-size: 12px;
	margin-top: 10px
}

.index-main .index-pro .index-pro-right .index-pro-right-circle {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.index-main .index-pro .index-pro-right .index-pro-right-circle .index-pro-right-circle-huan {
	width: 95px;
	height: 95px;
	border-radius: 50%;
	border: 5px solid transparent;
	border-top-color: #14D6D7
}

.index-main .index-pro .index-pro-right .index-pro-right-history {
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #3B3B3B;
	font-size: 12px;
	margin-bottom: 10px
}

.index-main .index-block {
	width: calc(100% - 20px);
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px
}

.index-main .index-block ul {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row
}

.index-main .index-block ul li {
	width: calc(((100% - 30px)/3));
	height: auto;
	padding-top: 10px;
	margin-top: 10px;
	padding-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	min-height: 50px;
	background-color: #ffffff;
	border-radius: 5px;
	display: flex;
	flex-direction: column
}

.index-main .index-block ul li .index-block-title {
	width: calc(100% - 10px);
	margin-left: 5px;
	margin-right: 5px;
	height: 20px;
	line-height: 20px;
	color: #333333;
	font-size: 12px
}

.index-main .index-block ul li .index-block-percent {
	width: calc(100% - 10px);
	margin-left: 5px;
	margin-right: 5px;
	height: 20px;
	line-height: 20px;
	color: #FFB574;
	font-size: 17px;
	margin-top: 15px
}

.index-main .index-block ul li .index-block-detail {
	width: calc(100% - 10px);
	margin-left: 5px;
	margin-right: 5px;
	height: 20px;
	line-height: 20px;
	color: #999999;
	font-size: 12px
}

.index-main .index-block ul li .index-block-detail .rightjian {
	float: right
}
