body {
	background-color: #ffffff;
}
.title{ width: 100%; float: left; height: 45px;}
.jiantouright{ width: 45px; height: 45px; position: fixed; right: 0; top: 0; z-index: 9999; background-color: #999; color: #333333; text-align: center; line-height: 45px; font-size: 20px;}

.titletwotap{ color: #3DB7E6;}
.worklist{ width: 100%; height: auto; float: left;}
.worklist .item{ width: 96%; padding-left: 2%; padding-right: 2%; height: auto; float: left; border-bottom: 1px solid #f2f2f2;}
.worklist .item .itemone{ width: auto; height: 45px; float: left; line-height: 45px; font-size: 15px; border-right: 1px solid #f2f2f2; padding: 0 10px 0 5px; color: #666;}
.worklist .item .itemtwo{ width: auto; height: 45px; float: left; line-height: 45px; font-size: 15px; padding: 0 0 0 10px; color: #666;}

.setbawork{ width: 100%; height: auto; position: fixed; bottom: 0; left: 0;}
.setbawork .one{ width: 100%; border-right: 1px solid #FFFFFF; height: 50px; line-height: 50px; float: left; text-align: center; font-size: 15px; color: #FFFFFF; background-color: #71C4E4;}
.mui-table-view:after{ height: 0;}
.mui-table-view:before{ height: 0;}







