body, html{ background-color: #f7f7f7;}
.messagelist{ width: 100%; height: auto; float: left; margin-bottom: 41px;}
.messagelist ul{ width: 100%; height: auto; float: left;}
.messagelist ul li{ width: 90%; padding-left: 5%; padding-right: 5%; height: auto; float: left; background-color: #FFFFFF; margin-top: 5px;}
.messagelist ul li .title{ width: 100%; height: 40px; float: left;}
.messagelist ul li .title .titlemsg{ width: auto; height: 40px; line-height: 40px; float: left; font-size: 15px; color: #333;}
.messagelist ul li .title .isread{ width: 10px; height: 10px; float: right; margin-top: 15px; background-color: #ffffff; border-radius: 10px;}
.messagelist ul li .content{ width: 100%; height: auto; line-height: 20px; float: left; font-size: 14px; color: #666666; border-top: 1px solid #f5f5f5; padding-top: 5px; padding-bottom: 5px;}
.messagelist ul li .time{ width: 100%; height: 30px; line-height: 30px; float: left; text-align: right; font-size: 14px; color: #666;}
.tishi{ width: 90%; padding-left: 5%; padding-right: 5%; height: auto; line-height: 20px; position: fixed; left: 0; bottom: 0; background-color: #FFFFFF; font-size: 14px; color: #FF0000; text-align: center;}