.msg{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	height: auto;
	float: left;
}
.msg .title{
	width: 90%;
	height: 70px;
	padding-left: 10%;
	line-height: 70px;
	font-size: 30px;
	float: left;
	background-color: #71C4E4;
	color: #FFFFFF;
}
.msg .context{
	width: 100%;
	height: auto;
	float: left;
	line-height: 30px;
	font-size: 18px;
}
.piclist{
	width: 90%;
	height: auto;
	margin-left: 5%;
	margin-right: 5%;
}
.piclist img{
	width: 100%;
	float: left;
	margin-top: 20px;
}
