
html, body{ background-color: #FFFFFF;}
.inputdiv{ width: 100%; height: 50px; float: left;}
.inputdiv input{ outline: none; margin-left: 10px; margin-right: 10px; width: 100px; height: 30px; line-height: 30px; margin-top: 10px; float: left; font-size: 16px; color: #333;}
.inputdiv img{ width: 30px; height: 30px; padding: 10px; float: left;}
.inputdiv span{ width: 60px; height: 50px; line-height: 20px; color: #666; padding-top: 5px; font-size: 16px; text-align: center; float: left;}



.listmenu{ width: 100%; height: 40px; float: left; background-color: #f2f2f2; border-bottom: 1px solid #eeeeee; color: #666;}
.listmenu .one{ width: 10%; height: 40px; line-height: 40px; float: left; text-align: center; font-size: 14px;}
.listmenu .two{ width: 45%; height: 40px; line-height: 40px; float: left; text-align: center; font-size: 14px;}
.listmenu .three{ width: 45%; height: 40px; line-height: 40px; float: left; text-align: center; font-size: 14px;}

.ullist{ width: 100%; height: auto; float: left; margin-bottom: 50px;}
.ullist ul{ width: 100%; height: 100%; float: left; overflow: scroll;}
.ullist ul li{ width: 100%; height: auto; float: left; border-bottom: 1px solid #f2f2f2;}
.ullist ul li .fa{ width: 10%; height: 40px; float: left; line-height: 40px; text-align: center;}
.ullist ul li .worktype{ width: 55%; height: 40px; float: left; line-height: 40px; font-size: 15px;}
.ullist ul li .daihao{ width: 35%; height: 40px; float: left; line-height: 40px; font-size: 15px; text-align: center;}

.tijiao{ width: 100%; height: 50px; line-height: 50px; position: absolute; left: 0; bottom: 0; background-color: #71C4E4; color: #FFFFFF; text-align: center; font-size: 15px;}




