html, body {
	background-color: #f2f2f2;
}
.signin {
	width: 100%;
	height: 200px;
	position: relative;
	float: left;
}

.signin img {
	width: 100px;
	height: 160px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.item{
	width: 90%;
	height: auto;
	float: left;
	padding-left: 5%;
	padding-right: 5%;
	border-bottom: 1px solid #EEEEEE;
	background-color: #FFFFFF;
}
.item .title{
	width: auto;
	height: 50px;
	line-height: 50px;
	float: left;
	font-size: 15px;
	color: #666;	
}
.item .context{
	width: auto;
	height: 50px;
	line-height: 50px;
	float: right;
	font-size: 15px;
	color: #666;	
}
.item .location{
	width: auto;
	height: 50px;
	line-height: 50px;
	float: right;
	font-size: 15px;
	color: #71C4E4;	
}
.item .locationmap{
	color: #3DB7E6;
}
.next{
	width: 100%;
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	line-height: 50px;
	text-align: center;
	font-size: 17px;
	z-index: 9999;
	background-color: #71C4E4;
	color: #FFFFFF;
}
.newt{
	background-color: #3DB7E6;
}
.addressmap{
	width: 100%;
	height: 150px;
	float: left;
	margin-bottom: 50px;
}




