.list {
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 5px;
}
.list ul {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: column;
}
.list ul li {
  width: -moz-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  padding: 10px 10px;
  height: auto;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  margin-top: 5px;
}
.list ul li .title {
  width: 100%;
  height: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
}
.list ul li .title .lan {
  color: #5A8FFF;
}
.list ul li .title .hong {
  color: #FE6161;
}
.list ul li .title .dian {
  width: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 50px;
}
.list ul li .title .state {
  flex: 1;
  height: 40px;
  line-height: 40px;
  font-size: 0.8125rem;
}
.list ul li .title .user {
  width: 80px;
  height: 40px;
  line-height: 40px;
  font-size: 0.8125rem;
  color: #444444;
  text-align: right;
  margin-right: 10px;
}
.list ul li .shopname {
  width: 100%;
  height: auto;
  margin-top: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: column;
}
.list ul li .shopname .name {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 0.9375rem;
  color: #333333;
}
.list ul li .shopname .hui {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 0.75rem;
  color: #999999;
}
.list ul li .shopname .hui .code {
  width: 100px;
  height: 30px;
  line-height: 30px;
}
.list ul li .shopname .hui .city {
  flex: 1;
  height: 30px;
  line-height: 30px;
}
.list ul li .shopname .hui .time {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: right;
}
.context {
  width: -moz-calc(100% - 20px);
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  height: 100%;
  margin: 10px 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: column;
}
.context .selectitem {
  flex: 3;
  width: 100%;
  margin-top: 50px;
}
.context .selectitem .title {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 0.9375rem;
  color: #333333;
}
.context .selectitem .select {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
}
.context .selectitem .select .item {
  background-color: #F8F8F8;
  color: #444444;
  flex: 1;
  margin: 0 5px;
  height: 30px;
  line-height: 30px;
  font-size: 0.9375rem;
  text-align: center;
}
.context .selectitem .select .activecss {
  background-color: #5A8FFF;
  color: #FFFFFF;
}
.context .selectbtn {
  flex: 1;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.context .selectbtn button {
  width: 30%;
  height: 30px;
  text-align: center;
  font-size: 0.8125rem;
  border-radius: 6px;
}
.context .selectbtn .reload {
  background-color: #F8F8F8;
  color: #333333;
}
.context .selectbtn .queding {
  background-color: #5A8FFF;
  color: #FFFFFF;
}
