#app {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  height: 100vh;
  flex-direction: column;
}
.errorlist {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  background-color: #FAFAFA;
  width: 100%;
  flex-direction: column;
  flex: 1;
}
.errorlist ul {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.errorlist ul li {
  width: 100%;
  height: auto;
  background-color: #FFFFFF;
  border-bottom: 5px solid #FAFAFA;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: column;
}
.errorlist ul li .one {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #FAFAFA;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
}
.errorlist ul li .one .dian {
  width: 8px;
  height: 8px;
  margin: 16px 10px;
  background-color: #666666;
  border-radius: 8px;
}
.errorlist ul li .one .name {
  flex: 1;
  height: 40px;
  line-height: 40px;
  color: #666666;
  font-size: 0.9375rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.errorlist ul li .two {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #FAFAFA;
}
.errorlist ul li .two .left {
  width: 80px;
  height: 40px;
  line-height: 40px;
  color: #333333;
  font-size: 0.875rem;
  margin-left: 28px;
}
.errorlist ul li .two .middle {
  flex: 1;
  height: 40px;
  line-height: 40px;
  color: #999999;
  font-size: 0.875rem;
  margin-left: 5px;
}
.errorlist ul li .two .right {
  width: 20px;
  height: 20px;
  margin: 10px 10px 10px 0;
}
.errorlist ul li .three {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #FAFAFA;
}
.errorlist ul li .three .left {
  width: 80px;
  height: 40px;
  line-height: 40px;
  color: #333333;
  font-size: 0.875rem;
  margin-left: 28px;
}
.errorlist ul li .three .van-cell {
  padding: 8px 5px;
}
.tijiao {
  width: 60%;
  height: 50px;
  margin: 5px 20%;
}
.tijiao .van-button--large {
  height: 40px;
  line-height: 38px;
}
.selectmain {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  margin: 0 5px;
  flex-direction: column;
}
.selectmain .title {
  width: 100%;
  height: 50px;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: row;
}
.selectmain .title .dian1 {
  width: 8px;
  height: 8px;
  margin: 22px 10px;
  background-color: #666666;
  border-radius: 8px;
  font-size: 0.9375rem;
}
.selectmain .title .cancle {
  width: 60px;
  height: 50px;
  line-height: 50px;
  color: #666666;
  text-align: right;
  font-size: 0.9375rem;
  margin-right: 10px;
}
.selectmain .title .text {
  flex: 1;
  height: 50px;
  line-height: 50px;
  color: #666666;
  font-size: 0.9375rem;
}
.selectmain .menu {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  flex-direction: column;
}
.selectmain .menu button {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #333333;
  font-size: 0.875rem;
  border-bottom: 1px solid #EEEEEE;
}
