<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>盘点历史</title>
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<link rel="stylesheet" type="text/css" href="../../../css/api.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/less/panDian_historylist.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.4/lib/index.css">
	</head>
	<body>
		<div id="app">
			<div v-if="listshow" class="list">
				<ul>
					<li v-for="(item, index) in list" v-if="item.isshow" @click="openhistorydetail(item.cReportSkuCode, item.shenpi, item.isright)">
						<div v-if="item.isright == false" class="list-up">
							<i class="dian"></i>
							<span class="left">盘点异常</span>
							<span class="right" v-text="item.shenpi"></span>
						</div>
						<div v-if="item.isright == true" class="list-up">
							<i class="dian dianright"></i>
							<span class="left leftright">盘点正常</span>
							<span class="right" v-text="item.shenpi"></span>
						</div>
						<span class="list-middle" v-text="item.shopname"></span>
						<div class="list-down">
							<span class="code" v-text="item.code"></span>
							<span class="city" v-text="item.city"></span>
							<span class="time" v-text="item.time"></span>
						</div>
					</li>
				</ul>
			</div>
			
			<van-popup
			  v-model="show"
			  position="right"
			  :style="{ height: '100%', width: '70%' }"
			>
				<div class="context">
					<div class="selectitem">
						<h6 class="title">盘点状态</h6>
						<div class="select">
							<span @click="pdstate = 0" v-bind:class="[pdstate == 0 ? activecss : '']" class="item">盘点异常</span>
							<span @click="pdstate = 1" v-bind:class="[pdstate == 1 ? activecss : '']" class="item">盘点正常</span>
						</div>
						<h6 class="title">时间</h6>
						<div class="select">
							<span @click="pdtime = 0" class="item" v-bind:class="[pdtime == 0 ? activecss : '']">近一周</span>
							<span @click="pdtime = 1" class="item" v-bind:class="[pdtime == 1 ? activecss : '']">近一月</span>
							<span @click="pdtime = 2" class="item" v-bind:class="[pdtime == 2 ? activecss : '']">近三月</span>
						</div>
					</div>
					<div class="selectbtn">
						<button @click="repitselect" class="reload">重置</button>
						<button @click="fliterlist" class="queding">确定</button>
					</div>
				</div>
			</van-popup>
			
		</div>
	</body>
	<script type="text/javascript" src="../../../script/api.js"></script>
	<script type="text/javascript" src="../../../script/apiclear.js"></script>
	<script type="text/javascript" src="../../../script/log.js"></script>
	<script type="text/javascript" src="../../../script/kunchiba.js"></script>
	<script type="text/javascript" src="../../../script/kunchisale.js"></script>
	<script type="text/javascript" src="../../../script/es6/pandian/pandian-history-compiled.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.4/lib/vant.min.js"></script>
	<script>
		var appvue;
		apiready = function() {
			appvue = new Vue({
				el: "#app",
				data: {
					listshow: false,
					show: false,
					list:[],
					pdstate: -1,
					pdtime: -1,
					activecss:'activecss',
					selectitempd: 0
				},
				created: function() {
					initlist(this);
					reloaditemlist(this);
				},
				mounted: function() {},
				updated: function() {},
				methods: {
					getfirsttime: function(){
						var date = new Date();
						date.setDate(1);
						var month = parseInt(date.getMonth()+1);
						var day = date.getDate();
						if (month < 10) {
							month = '0' + month
						}
						if (day < 10) {
							day = '0' + day
						}
						return date.getFullYear() + '-' + month + '-' + day;
					},
					
					getlasttime: function(){
						var date=new Date();
						var currentMonth=date.getMonth();
						var nextMonth=++currentMonth;
						var nextMonthFirstDay=new Date(date.getFullYear(),nextMonth,1);
						var oneDay=1000*60*60*24;
						var lastTime = new Date(nextMonthFirstDay-oneDay);
						var month = parseInt(lastTime.getMonth()+1);
						var day = lastTime.getDate();
						if (month < 10) {
							month = '0' + month
						}
						if (day < 10) {
							day = '0' + day
						}
						return date.getFullYear() + '-' + month + '-' + day;
					},
					
					repitselect(){
						this.pdstate = -1;
						this.pdtime = -1;
					},
					
					fliterlist(){
						filterReloadList(this);
					},
					
					openhistorydetail(cReportSkuCode, isshenpi, isright){
						if((isshenpi == "") || (typeof(isshenpi) == 'undefined')){
							this.selectitempd = cReportSkuCode;
							api.openWin({
								name: 'panDian_errorlist_win',
								url: 'widget://html/panDian/error/panDian_errorlist.html',
								pageParam: {
									creportskucode: cReportSkuCode,
									closename: 'panDian_historylist_win'
								}
							});
						}else{
							api.openWin({
							    name: 'panDian_errordetail_win',
							    url: 'widget://html/panDian/error/panDian_errordetail.html',
							    pageParam: {
							        creportskucode: cReportSkuCode
							    }
							});
						}
					}
				}
			});
		}
		
		
		
		function openmenutime(){
			var isshow = appvue.show;
			appvue.show = isshow==true?false:true;
		}
	</script>
</html>
