<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>异常原因</title>
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<link rel="stylesheet" type="text/css" href="../../../css/api.css" />
		<link rel="stylesheet" type="text/css" href="../../../css/less/panDian_erroreason.css" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.4/lib/index.css">
	</head>
	<body>
		<div id="app">
			<div class="errorlist">
				<ul :style="{height: listheight+'px'}">
					<li v-for="(item, index) in errorlist">
						<div class="one">
							<i class="dian"></i>
							<span class="name" v-text="item.cProductFullName"></span>
						</div>
						<div class="two">
							<span class="left" v-text="item.panleftmenu"></span>
							<span class="middle" v-text="item.selectreson" @click="showmenu(index)">请选择</span>
							<img class="right" src="../../../image/downtou.png" />
						</div>
						<div v-if="item.selectreson == '盘错'" class="three">
							<span class="left">真实库存:</span>
							<van-cell-group>
								<van-field v-model="item.inputone" type="digit" placeholder="请输入" />
							</van-cell-group>
						</div>
						<div v-if="item.selectreson == '丢件'" class="three">
							<span class="left">丢件数量:</span>
							<van-cell-group>
								<van-field v-model="item.inputone" type="digit" placeholder="请输入" />
							</van-cell-group>
						</div>
						<div v-if="item.selectreson == '丢件'" class="three">
							<span class="left">丢件说明:</span>
							<van-cell-group>
								<van-field v-model="item.inputtwo" placeholder="请输入" />
							</van-cell-group>
						</div>
						<div v-if="item.selectreson == '其他'" class="three">
							<span class="left" v-text="item.panleftmenu == '盘亏原因' ? '缺失数量:' : '盘盈数量:'"></span>
							<van-cell-group>
								<van-field v-model="item.inputone" type="digit" placeholder="请输入" />
							</van-cell-group>
						</div>
						<div v-if="item.selectreson == '其他'" class="three">
							<span class="left" v-text="item.panleftmenu == '盘亏原因' ? '缺失说明:' : '盘盈说明:'"></span>
							<van-cell-group>
								<van-field v-model="item.inputtwo" placeholder="请输入" />
							</van-cell-group>
						</div>
					</li>
				</ul>
			</div>
			<div class="tijiao">
				<van-button @click="uploadpandian" size="large" color="#5A8FFF">提交</van-button>
			</div>

			<van-popup v-model="show" position="bottom" :style="{ height: '255px' }">
				<div class="selectmain">
					<div class="title">
						<i class="dian1"></i>
						<span class="text" v-text="menutitle"></span>
						<button class="cancle" v-on:click="closemenu">取消</button>
					</div>
					<div class="menu" v-if="menutitle == '盘亏原因'">
						<button @click="menuselect('盘错')">盘错</button>
						<button @click="menuselect('丢件')">丢件</button>
						<button @click="menuselect('未处理单据')">未处理单据</button>
						<button @click="menuselect('其他')">其他</button>
					</div>
					<div class="menu" v-if="menutitle == '盘盈原因'">
						<button @click="menuselect('盘错')">盘错</button>
						<button @click="menuselect('未处理单据')">未处理单据</button>
						<button @click="menuselect('其他')">其他</button>
					</div>
				</div>
			</van-popup>
		</div>
	</body>
	<script type="text/javascript" src="../../../script/api.js"></script>
	<script type="text/javascript" src="../../../script/apiclear.js"></script>
	<script type="text/javascript" src="../../../script/log.js"></script>
	<script type="text/javascript" src="../../../script/kunchiba.js"></script>
	<script type="text/javascript" src="../../../script/kunchisale.js"></script>
	<script type="text/javascript" src="../../../script/es6/pandian/pandian_erroreason-compiled.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vant@2.4/lib/vant.min.js"></script>
	<script>
		var appvue;
		apiready = function() {
			//更新
			api.addEventListener({
				name: 'closeerroreason'
			}, function(ret, err) {
				console.log('关闭了');
				api.closeWin();
			});

			appvue = new Vue({
				el: "#app",
				data: {
					value: '',
					show: false,
					datalist: [],
					listheight: api.frameHeight - 50,
					errorlist: [],
					selectindex: -1,
					menutitle: '',
					allowclick: 0//0不可以点击  1可以点击
					// listheight: 600
				},
				created: function() {
					console.log(JSON.stringify(api.pageParam.newoldlist));
					initlist(this);
				},
				mounted: function() {
					check_isallow_upload(this);
				},
				updated: function() {},
				methods: {
					menuselect: function(msg) {
						this.show = false;
						var indexthis = this;
						this.errorlist[indexthis.selectindex].selectreson = msg;
					},
					showmenu: function(index) {
						this.show = true;
						this.selectindex = index;
						var iKucunOpening = this.errorlist[index].iKucunOpening;
						if (iKucunOpening == 1) {
							this.menutitle = '盘盈原因';
						} else if (iKucunOpening == -1) {
							this.menutitle = '盘亏原因';
						}
					},
					uploadpandian: function() {
						if(this.allowclick == 0){
							return;
						}
						btnupload(this);
					},
					closemenu: function() {
						this.show = false;
					}
				}
			});
		}
	</script>
</html>
